.picture-block{
    position:relative;
    scroll-margin-top: 200px;
}

.wallpaper{
    position: relative;
    height: 800px;
    width:100%;
    object-fit: cover;
    object-position: 50% 70%;
    opacity:1;
}

.picture-block-overlay{
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    height: 200px;
}

.Counter{
    margin: 0;
    padding: 0;
    font-size: 100px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.Counter h2{
    margin:0;
    padding:0;
}

.Counter h2 {
    text-shadow: 0 0.5px 0px #ccc, 0 2px 0 #ccc,
        0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc,
        0 7px 0 #ccc, 0 8px 0 #ccc,
        0 9px 0 #ccc, 0 10px 0 #ccc,
        0 11px 0 #ccc, 0 12px 0 #ccc,
        0 20px 30px rgba(0, 0, 0, 0.5);
}

.heart1{
    text-shadow: none;
    color: pink;
}

.heart2{
    text-shadow: none;
    color: pink;
}

.words{
    font: Arial;
    font-size: 20px;
    margin: 0px;
    color: white;
}