p{
    font-family: Arial;
    margin-top: 0px;
}

.website-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 24px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.website-introduction {
    font-size: 14px;
    color: rgb(96,96,96);
}

.website-description{
    font-size: 14px;
    color: black;
    width: 450px;
    line-height: 22px;
}

.website-block{
    margin-top:40px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
        
.website-block:hover{
    text-decoration: underline;
}