
@keyframes slideDown {
    0% {
      margin-top: -100%;
    }

    100% {
      margin-top: 0%;
    }
}

.navbar{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1;
}

.Home{
    animation-duration: 1s;
    animation-name: slideDown;
}

.Story{
    animation-duration: 1.5s;
    animation-name: slideDown;
}

.Gallery{
    animation-duration: 2s;
    animation-name: slideDown;
}

.Surprises{
    animation-duration: 2.5s;
    animation-name: slideDown;
}

.navbar li{
    list-style: none;
    transition: 0.5s;
}

.navbar:hover li{
    opacity: 0.6;
}

.navbar li:hover{
    opacity: 1;
}

.navbar a{
    display: block;
    position: relative;
    font: Arial;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 25px;
    padding: 0;
}

.header{
    height: 100px;
    width: 100%;
    background-color: black;
    text-align: center;
    padding-top: 95px;
    display: block;
    transition: 0.2s;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index:9;
}

.rearrange{
    top:40%;
}
