.surprise-wrapper{
    height: 840px;
    width: 1494px;
    scroll-margin-top: 120px;
}

.surpriseBlockMargin{
    scroll-margin-top:190px;
}

.product-list{
    background-color: #dfe6e9;
    padding: 3em;
    width: 100%;
    height: 700px;
    padding-left: 250px;
    padding-top:150px;

}

.card{
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: center;
    font-family: 'Poppins';
    height: 500px;
    width: 300px;
    display: inline-block;
    margin-right: 150px;
    vertical-align: top;
}

.card .title{
    font-size: 18px;
    font-weight: bold;
}

.card img{
    max-width: 100%;
    border-radius: 5px;
}

.card .text{
    text-align: left;
    font-size: 14px;
    margin-left: 2em;
    margin-bottom: 0.5em;
}



.front-photo{
    vertical-align: middle;
    margin-top: 25%;
}

.flip-card{
    transition: opacity 1s;
}

.flip-card-back{
    position: relative;
    z-index: 1;
}

.flip-card-front{
    position: absolute;
    z-index: 2;
}

.selected{
    opacity: 0;
    z-index: 1
}
